*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-style: 16px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.loader{
  text-align: center;
}
.calendar{
  &__header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    &__nav{
      button{ 
        cursor: pointer;
        line-height: 20px;
        height: 25px;  
      }
    }
  }
}

.calendar-days{
  display: flex;
  flex-flow: row wrap;
  align-content: strach;
  &__item{
    border: solid 1px;
    width: 14.28%;
    padding: 15px;
    &.--days{
      border-color: transparent;
      height: 40px;
    }
  }
}

.popup{
  position: fixed;
  width: 500px;
  min-height: 500px;
  top: 50%;
  left: 50%;
  border: solid 1px;
  background: #c1c1c1;
  transform: translate(-50%, -50%);

  .close{
    position: absolute;
    right: -1px;
    top: -1px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: solid 1px;
    background: #e1e1e1;
    &:hover{
      background: #f1f1f1;
    }
  }
}